*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* desktop */

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #04091A;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: 100%;
}

.sidebar{
    display: none;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 3;
}

header .logo_arz{
    color: #ffffff;
    cursor: pointer;
    width: 140px;
    height: 50px;
    transition: 0.6s;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header ul li{
    list-style: none;
    margin: 0 10px;
}

header ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 3px;
}

header .material-symbols-outlined{
    color: #ffffff;
    font-size: 60px;
    transition: 0.6s;
    display: none;
}


header ul li a:hover{
    color: #27cdff;
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem #27cdff);
}

header.sticky{
    background-color: #f5f5f5;
    padding: 20px 100px;
}

header.sticky .logo_arz{
    filter: brightness(0);
}

header.sticky ul li a{
    color: #000000;
}

header.sticky .material-symbols-outlined{
    color: #000000;
}

header.sticky ul li a:hover{
    color: #27cdff;
    filter: drop-shadow(0 0 0.75rem #27cdff);
}

.banner{
    display: grid;
    grid-row: 1fr;
    grid-template-columns: minmax(500px,50%) 1fr ;
    place-items: center;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}

.circles{
    position: absolute;
    grid-area: 1/1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    scale: 0.9;
    animation: rotation 10s infinite linear;
    filter: blur(300px);
    z-index: 1;
}

.circle1{
    position: relative;
    top: -250px;
    grid-area: 1/1;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #3935D2;
    scale: 1.5;
    opacity: 0.4;
    grid-column: 1;
    grid-row: 1;
    transition: 0.6s;
}

.circle2{
    position: relative;
    top: 400px;
    left: 400px;
    grid-area: 1/1;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #DE8C37;
    scale: 1.5;
    opacity: 0.4;
    transition: 0.6s;
}

.circle3{
    position: relative;
    top: 400px;
    left: -400px;
    grid-area: 1/1;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #EE0EF2;
    scale: 1.5;
    opacity: 0.4;
    transition: 0.6s;
}

.main_grid{
    margin-top: 100px;
    width: 90%;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
}

.banner p{
    color: #ffffff;
    font-size: 2.2vw;
    font-weight: lighter;
    text-align: center;
    grid-area: 1/1;
    transition: 0.6s;
    z-index: 2;
}

.main_text_top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 175px;
    transition: 0.6s;
}

.main_text_top b{
    font-weight: bold;
    color: #27cdff;
}

.banner .btn_cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transition: 0.6s;
}

.banner .btn_cont button{
    position: relative;
    grid-column: 1;
    grid-row: 1;
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    width: 40%;
    height: 120px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #11235e;
    background-color: #04091A;
    z-index: 2;
    color: #ffffff;
    text-align: center;
    transition: 0.6s;
    animation: breath 1s infinite ease-in-out;
}

.banner .btn_cont button:hover{
    cursor: pointer;
}
.banner .btn_cont p {
    margin-left: 30px;
    color: #ffffff;
    font-size: 0.7vw;
    font-weight: lighter;
    text-align: left;
    width: 45%;
    grid-column: 1;
    grid-row: 2;
    transition: 0.6s;
    position: relative;
    z-index: 2;
}

.competences{
    margin: 80px;
    margin-top: 250px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 40px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    transition: 0.6s;
}

.competences h1{
    z-index: 2;
    color: #ffffff;
    font-size: 3em;
    font-weight:bold;
    grid-column: span 3;
    text-align: center;
    transition: 0.6s;
}

.competences .competence{
    z-index: 2;
    background-color: #1E243A;
    height: 610px;
    width: 80%;
    border-radius: 30px;
    transition: 0.5s;
    padding: 5%;
    box-shadow: inset -5px 5px 15px -15px #ffffff;
}

.competences .competence h1{
    font-size: clamp(20px,2vw,35px);
}

.competences .competence p{
    font-size: clamp(15px,1.2vw,35px);
    font-weight: lighter;
    margin-top: 20px;
    line-height: 1.5;
    transition: 0.5s;
    color: #ffffff;
}

.competences .competence:hover{
    scale: 1.05;
    transition: 0.5s;
    box-shadow: inset -5px 5px 15px -10px #ffffff;
    animation: breath 1s infinite ease-in-out;
}

footer{
    margin-top: 50vh;
    padding: 20px;
    display: grid;
    grid-template-columns: minmax(400px, 600px) minmax(400px, 600px);
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
}

footer .logo_arz{
    transition: 0.6s;
    width: 140px;
    height: 50px;
    grid-column: span 2;
    filter: brightness(0);
    margin: 0 auto;
    margin-bottom: 50px;
}

footer button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    background-color: #3935E8;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    transition: 0.6s;
    margin: 0 auto;
    box-shadow: 0 0 25px #1bc8fd;
}

footer .bottom_contact{
    height: 130px;
    font-size: 1.5em;
    margin: 0 auto;
}

footer .cc{
    margin: 0 auto;
    grid-column: span 2;
}

footer button:hover{
    background-color: #27cdff;
    animation: breath 1s infinite ease-in-out;
}

/* mobile */

@media screen and (max-width: 768px){
    .circles{
        scale: 0.25;
        right: 10px;
    }

    html, body {
        overflow-x: hidden;
      }
    body {
        position: relative
    }

    header{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    header.sticky{
        background-color: #f5f5f5;
        padding: 0px 20px;
    }

    header .logo_arz{
        width: 70px;
        height: 25px;
    }

    header ul{
        display: none;
    }

    header .material-symbols-outlined{
        display: block;
        cursor: pointer;
        scale: 0.8;
        color: rgb(255, 255, 255);
        background-color: transparent;
        border: none;
    }

    .sidebar{
        gap: 5px;
        z-index: 1;
        margin-top: 15%;
        display: flex;
        flex-direction: row;
        position: fixed;
        align-items: center;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        height:70px;
        border: 1px solid rgb(92, 92, 92);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        font-size: 5px;
        padding: 5px;
        transition: 0.6s ease-in-out;
        -webkit-backdrop-filter: blur(5px);
    }

    header.sticky ul li a {
        color: #ffffff;
    }

    .banner{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .banner .btn_cont p {
        display: none;
    }
    
    .banner p, .main_text_top{
        font-size: 5vw;
    }

    .banner .btn_cont{
        grid-column: 1;
        grid-row: 1;
    }

    .banner .btn_cont button{
        font-family: 'Roboto Mono', monospace;
        font-size: 1.2em;
        width: 200px;
        height: 60px;
        border-radius: 10px;
        background-color: transparent;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgb(92, 92, 92);
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
        position: relative;
        top: 180px;
        color: #ffffff;
        text-align: center;
        transition: 0.6s;
        animation: breath 1s infinite ease-in-out;
    }

    .main_text_top{
        margin-top: 100px;
    }
    
    .competences{
        margin: 20px;
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .competences h1{
        font-size: 2.5em;
    }

    .competences .competence{
        width: auto;
        height: 300px;
    }

    .competences .competence h1{
        text-align: left;
        font-size: clamp(30px,1.5vw,35px);
    }

    .competences .competence p{
        font-size: clamp(15px,0.8vw,35px);
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    footer .logo_arz{
        height: 25px;
        width: 70px;
        margin-bottom: 20px;
    }

    footer button{
        width: 180px;
        height: 80px;
        font-size: 1.5em;
        margin: 20px 0;
    }

    footer .bottom_contact{
        font-size: 1em;
    }

    footer .cc{
        margin: 20px 0;
        height: 50px;
        text-align: center;
    }
}

@keyframes breath{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}